tempfile.txt
*.zip
*.gz
log/*.log  #if you have a directory log anything in that directory ending in .log
log/*log.[0-9]
assets/photoshop/ #this will ignore in assets direcoty all photshop 
assets/videos/ # will ignore all videos
!assets/videos/tour_*mp4  #any video that starts with tour and ends with mp4 will be tracked